* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

:root {
  /* ### Primary */
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  /* ### Neutral */
  --Very-vark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  /* (with 75% opacity for lightbox background) */
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

html {
  width: 100%;
}

body {
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Kumbh Sans", sans-serif;
}

.page-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  padding: 1em 6em 0.2em;
  background: white;
}

.logo {
  font-weight: 700;
  font-size: 2rem;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  border-bottom: 1px solid var(--Light-grayish-blue);
  padding-bottom: 1.9em;
}

.left-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3em;
}

.hamburger {
  display: none;
}

.hamburger-menu {
  display: none;
}

.hamburger-menu ul {
  display: flex;
  flex-direction: column;
}

.nav-list {
  position: relative;
  width: auto;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 14px 0;
}

li {
  display: inline-block;
  position: relative;
  text-transform: capitalize;
}
li a {
  color: var(--Dark-grayish-blue);
}

li ::after {
  position: absolute;
  content: " ";
  height: 3px;
  width: 100%;
  top: 277.9%;
  left: 0;
  background: var(--Orange);
  transition: transform 0.8s;
  transform: scaleX(0);
  transform-origin: right;
}

ul li a:hover::after {
  transform: scaleX(1);
  -webkit-transform-origin: left;
}

.right-nav {
  width: auto;
  display: flex;
  align-items: center;
  gap: 3em;
  position: relative;
}

.cart-icon {
  cursor: pointer;
}

.chart-counter {
  position: absolute;
  border-radius: 1.6em;
  font-size: 10px;
  color: var(--White);
  padding: 1px 5px;
  right: 9em;
  top: 0.8em;
  cursor: pointer;
}

.filled {
  background-color: var(--Orange);
}

.avatar {
  height: 3em;
  border-radius: 50%;
  cursor: pointer;
}

.avatar:hover {
  border: 2px solid var(--Orange);
}

.cart {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
  border-radius: 0.7em;
  z-index: 1;
  top: 4em;
  left: -13.5em;
  width: 390px;
  box-shadow: 0em 1.2em 1.4em var(--Grayish-blue);
}

.chart-items {
  width: 100%;
  margin: 0.3em 1.5em 1.5em;
}

.cart h1 {
  text-transform: capitalize;
  padding: 0 0.8em 0.5em 0;
}

.cartCollection {
  padding: 1.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartCollection img {
  width: 100%;
  max-width: 50px;
  border-radius: 0.3em;
}

.cartDesc {
  line-height: 1;
  margin-bottom: 0.2em;
}

.cartprice {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.totalPrice {
  font-weight: 600;
  margin-left: 0.2em;
}

.cartCollection .delete {
  padding-top: 1em;
  width: 15px;
  cursor: pointer;
}

.checkout {
  padding: 1em 0;
  background-color: var(--Orange);
  color: var(--White);
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
  border-radius: 0.5em;
  width: 100%;
  cursor: pointer;
}

.cartsection.empty {
  display: none;
  width: 350px;
  gap: 0.8em;
}

.empty-text {
  height: 40vh;
  max-height: 250px;
  width: 390px;
  min-width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
}

.empty {
  display: none;
}

.show {
  display: block;
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 1em 6em 0.2em;
  }
}

/* end of nav */

/* main section start */

.main-wrapper {
  width: 100%;
  padding: 11em 9em 2em;
  max-width: 1440px;
  margin-bottom: 2em;
  margin: auto;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8em;
}

.left-main {
  width: 100%;
  max-width: 28em;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  gap: 1.5em;
}

.product {
  display: block;
  width: 100%;
  /* z-index: 0; */
}

.product-thumbnail {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.product-thumbnail img {
  width: 6em;
  border-radius: 8px;
}

.hide {
  opacity: 0;
}

.container {
  position: relative;
}

.thumbnail-cover {
  border-radius: 8px;
  transition: 0.5s ease;
  opacity: 0;
  background: var(--White);
  height: 100%;
  width: 100%;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
}

.active {
  opacity: 0.5;
  border: 2px solid var(--Orange);
}

.container:hover .thumbnail-cover {
  opacity: 0.5;
  background: var(--White);
  border-radius: 8px;
}

.arrow-container {
  left: 0;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
  padding: 0 1em;
}

.arrow-container img {
  cursor: pointer;
}

/* right main section */
.right-main {
  width: auto;
}

.right-main h3 {
  color: var(--Orange);
  margin-bottom: 1em;
  text-transform: uppercase;
}

.right-main h1 {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: calc(2vmax + 1rem);
}

.right-main p {
  margin-bottom: 2em;
  width: 90%;
  color: var(--Dark-grayish-blue);
}

.right-main #price-container {
  width: auto;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75em;
}

.price-section {
  width: auto;
  display: flex;
  align-items: center;
  gap: 1em;
}

#amount {
  font-weight: 700;
  font-size: 1.8rem;
}

#percentage {
  font-weight: 700;
  background-color: var(--Pale-orange);
  color: var(--Orange);
  padding: 3px 10px;
  border-radius: 2px;
}

#discount {
  font-weight: 700;
  color: var(--Grayish-blue);
  text-decoration-line: line-through;
}

.cart-control-container {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.control {
  width: auto;
  flex: 35%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
  padding: 0.9em 0;
  border-radius: 5px;
  background-color: var(--Light-grayish-blue);
}

.minus,
.plus,
.add-to-cart {
  cursor: pointer;
}

.value {
  color: var(--Black);
  font-weight: 600;
}

.add-to-cart {
  flex: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: var(--Orange);
  border-radius: 8px;
  padding: 1em 0;
  color: var(--White);
  font-weight: 600;
}

@media screen and (max-width: 1280px) {
  .main {
    gap: 4em;
  }

  .left-main {
    max-width: 24em;
  }

  .product-thumbnail img {
    width: 4.8em;
  }

  .right-main h1 {
    margin-bottom: 0.5em;
    font-weight: 700;
    font-size: 2rem;
  }

  .cart {
    width: 360px;
    box-shadow: 0.2px 1px 1.8px;
  }
}

/* lightbox */
@media screen and (min-width: 1025px) {
  .cart {
    z-index: 0;
  }

  .product {
    border-radius: 1em;
    cursor: pointer;
  }

  .shadow {
    background-color: hsla(0, 0%, 0%, 0.801);
    z-index: 0;
    width: 100vw;
    height: 100%;
    top: 0em;
    position: fixed;
  }

  .lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    width: 80%;
    height: 100%;
    margin: auto;
  }

  .minimize {
    background-image: url(/images/icon-close.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    width: 460px;
    height: 2.5vh;
    cursor: pointer;
  }

  .minimize:hover,
  .close-icon:focus {
    background-image: url(/images/icon-close\ copy.svg);
  }

  .lightbox-image {
    width: 462px;
    height: 400px;
  }

  .box {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
  }

  .box .thumbnail-lightbox {
    width: 4.5em;
    border-radius: 5px;
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  .container {
    position: relative;
  }

  .cover {
    transition: 0.5s ease;
    opacity: 0;
    background: var(--White);
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
  }

  .active {
    opacity: 0.5;
  }

  .container:hover .cover {
    opacity: 0.5;
    background: var(--White);
    border: 2px solid var(--Orange);
    border-radius: 5px;
  }
}

/* --/ lightbox */
.arrow-container-lighbox {
  position: absolute;
  width: 515px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-container-lighbox .Next-icon {
  background-image: url(/images/icon-next.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1em 1em 1em 1em;
}

.arrow-container-lighbox .previous-icon {
  background-image: url(/images/icon-previous.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1em 1em 1em 1em;
}

.arrow-container-lighbox .previous-icon,
.Next-icon {
  background-color: var(--White);
  padding: 1.5em;
  border-radius: 50%;
  cursor: pointer;
}

.arrow-container-lighbox .Next-icon:hover,
.next-icon:focus {
  background-image: url(/images/icon-next\ copy.svg);
}

.arrow-container-lighbox .previous-icon:hover,
.next-icon:focus {
  background-image: url(/images/icon-previous\ copy.svg);
}

@media screen and (max-width: 1024px) {
  .cart {
    left: -17em;
  }

  .nav-list {
    gap: 1em;
  }

  .main {
    flex-direction: column;
    gap: 1em;
  }

  .left-main {
    max-width: 100%;
    align-items: center;
    background-color: var(--Light-grayish-blue);
  }

  .product {
    max-width: 36em;
  }

  .product-thumbnail {
    display: none;
  }

  .arrow-container {
    display: flex;
    justify-content: space-between;
    padding: 0 9.5em;
  }

  .previous-icon,
  .next-icon {
    width: 2.5em;
    padding: 0.5em 0.6em;
    border-radius: 50%;
  }

  .previous-icon {
    background-image: url(/images/icon-previous.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .next-icon {
    background-image: url(/images/icon-next.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .previous-icon:hover {
    background-image: url(/images/icon-previous\ copy.svg);
  }
  .next-icon:hover {
    background-image: url(/images/icon-next\ copy.svg);
  }

  .shadow {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .product {
    width: 100%;
    max-width: 45em;
    margin: 0;
  }

  .arrow-container {
    padding: 0 3em;
    gap: 29em;
  }

  .previous-icon,
  .next-icon {
    border-radius: 50%;
    padding: 1.2em 1em;
    background-color: var(--White);
  }

  .right-main p {
    width: 100%;
  }
}

@media screen and (max-width: 880px) {
  .arrow-container {
    gap: 25em;
  }

  .right-main #price-container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4em;
  }

  .price-section {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .header {
    z-index: 1;
    margin-bottom: 2em;
    padding: 0.8em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  nav {
    padding: 0;
  }

  .nav-list {
    display: none;
  }

  .logo {
    margin: 0;
    width: 100%;
  }

  .hamburger {
    display: block;
    padding: 0;
    margin: 0;
  }

  .hamburger-active {
    display: block;
    position: absolute;
    top: 0em;
    z-index: 2;
    left: 0em;
    width: 100%;
    height: 1200px;
    background-color: rgba(0, 0, 0, 0.651);
  }

  .right-nav {
    gap: 1.5em;
  }

  .chart-counter {
    right: 6em;
    top: 0.4em;
    padding: 0 0.6em;
    text-align: center;
  }

  .avatar {
    height: 2.5em;
  }

  .main-wrapper {
    padding: 7em 2em 3em;
  }

  .right-main {
    margin: 0 1em 2em;
  }

  .light-box {
    background-color: var(--White);
    width: 55%;
    height: 100%;
    padding: 2em;
  }

  .light-box img {
    width: 18px;
  }

  .hamburger-active ol {
    margin-top: 5em;
    line-height: 3em;
  }

  ol {
    display: flex;
    flex-direction: column;
  }

  ol li a {
    color: var(--Black);
    font-weight: 600;
    font-size: 1.5rem;
  }

  .cart {
    z-index: 1;
    left: -17em;
  }

  .arrow-container {
    margin: 0 auto;
    padding: 0.5em 4.5em;
  }
}

@media screen and (max-width: 700px) {
  .main-wrapper {
    padding: 5.4em 0;
  }

  .arrow-container {
    gap: 20em;
    padding: 0 2.5em;
  }

  .previous-icon,
  .next-icon {
    width: 7%;
    border-radius: 50%;
    padding: 1.2em 1.2em;
    background-color: var(--White);
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 0em -6em;
  }

  .cart {
    width: 22em;
    top: 4em;
    z-index: 1;
    left: -16em;
  }

  .right-main {
    margin: 0 1.5em;
  }

  .cart-control-container {
    flex-direction: column;
    width: 100%;
  }

  .control {
    width: 100%;
  }

  .add-to-cart {
    width: 100%;
  }

  .arrow-container {
    margin: 0 auto;
    gap: 16em;
    padding: 0 2.5em;
  }

  .previous-icon,
  .next-icon {
    padding: 1.1em 1.1em;
    background-color: var(--White);
  }
}

@media screen and (max-width: 480px) {
  .header {
    margin-bottom: 0;
  }

  .right-nav,
  .left-nav {
    gap: 1em;
  }

  .chart-counter {
    right: 5em;
  }

  .hamburger {
    width: 0.8em;
    height: 0.8em;
  }

  .hamburger-active ol {
    margin-top: 5em;
    line-height: 2.8em;
  }

  ol li a {
    font-weight: 600;
    font-size: 0.8rem;
  }

  .main-wrapper {
    padding: 5em 0;
  }

  .right-main #price-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
  }

  .arrow-container {
    margin: 0 auto;
    gap: 16em;
    padding: 0 1.8em;
  }
}

@media screen and (max-width: 400px) {
  .avatar {
    height: 2.1em;
  }

  .previous-icon,
  .next-icon {
    padding: 1em 1em;
  }
}

@media screen and (max-width: 375px) {
  .arrow-container {
    gap: 5em;
  }
}
